:root {
  --main-color: 56, 1, 4;
  --main-color-2: 217, 0, 1;
  --main-color-3: 166, 0, 1;
  --main-color-4: 118, 0, 1;
  --main-color-5: 166, 4, 5;
  --main-color-6: 237, 10, 11;
  --main-color-7: 106, 1, 1;
  --main-color-8: 181, 11, 12;
  --main-color-9: 112, 2, 3;
  --main-color-10: 76, 0, 0;
  --main-color-11: 87, 6, 5;
  --main-color-12: 26, 0, 4;
  --main-color-13: 38, 1, 4;
  --main-color-14: 63, 4, 5;
  --main-color-15: 140, 2, 0;
  --brand-color: 234, 181, 4;
  --brand-color-2: 253, 244, 163;
  --brand-color-3: 250, 240, 206;
  --brand-color-4: 159, 122, 56;
  --brand-color-5: 230, 201, 155;
  --brand-color-6: 144, 105, 45;
  --hero-color: 144, 143, 143;
  --hero-color-2: 75, 75, 75;
  --hero-color-3: 110, 110, 110;
}