@import "reset.scss";
@import "assets/icons/style.css";
@import "assets/fonts/stylesheet.css";
@import "color-palette";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: rgba(var(--main-color), 1);
  font-family: Verdana;
  overflow-x: hidden;
}

.content-holder {
  overflow: hidden;
  position: relative;
}

.header {
  width: 100%;
  min-height: 71px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  background-image: linear-gradient(to bottom, rgba(var(--main-color-2), 1), rgba(var(--main-color-3), 1));
}

.wrapper {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

.header-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}

.logo {
  width: 190px;
  flex: 0 0 auto;
  margin-right: 8px;
  position: relative;
}

.nav-btn-open-holder-inner {
  position: relative;
  display: none;
}

.icon-holder {
  position: relative;
}

.logo-img {
  object-fit: contain;
  display: block;
  width: 100%;
  height: 100%;
}

.time {
  display: inline-block;
  color: rgba(var(--text-color), 1);
  font-size: var(--font-size);
  line-height: 32px;
}

.time-and-clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 6px;
}

.watch {
  font-size: var(--font-size-5);
  color: rgba(var(--text-color), 1);
  vertical-align: bottom;
  line-height: 32px;
}

.time-and-location {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.language-block {
  width: 80px;
}

.live-support {
  width: 126px;

  .live-support-content {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.odds-in {
  width: 156px;
}

.mobile {
  width: 80px;

  .mobile-inner {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.betshop {
  width: 95px;

  .betshop-inner {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.time-and-location-inner {
  margin: 0 auto;
  text-align: center;
  padding: 0 5px;
}


.location {
  //color: #ffffff;
  color: rgba(var(--text-color), 1);
  font-size: var(--font-size);
  line-height: 32px;
}

.language-block, .odds-in {
  //flex: unset;
  display: flex;
  align-items: center;
  justify-content: center;

  .dropdown {
    min-width: 55px;
    height: 32px;

    > ul li {
      padding: 0 5px;
      height: 18px;
      display: flex;
      align-items: center;
      width: 100%;
    }

    > ul li:last-of-type {
      padding: 0 5px;
    }
  }
}

//
//.odds-in {
//  display: flex;
//
//  .dropdown {
//    //  min-width: 80px;
//    //  position: relative;
//    //}
//
//     .lang {
//      //font-weight: 700;
//      padding-left: 0;
//    }
//
//    .dropdown {
//      min-width: 67px;
//      height: 32px;
//
//      > ul li {
//        padding: 0 5px;
//        height: 18px;
//        display: flex;
//        align-items: center;
//      }
//
//      > ul li:last-of-type {
//        padding: 0 5px;
//      }
//    }
//  }
//}


.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //&.open {
  //  .down-arrow{
  //    transform: rotate(180deg) translate3d(0,0,0);
  //  }
  //  > .dropdown-menu {
  //    max-height: 54px;
  //    overflow-y: auto;
  //    overflow-x: hidden;
  //    animation: hide-scroll 240ms backwards;
  //  }
  //}

  input[type="checkbox"] {
    display: none;
  }

  @keyframes hide-scroll {
    from, to {
      overflow: hidden;
    }
  }

  #open:checked ~ .dropdown-menu {
    max-height: 54px;
    overflow-y: auto;
    overflow-x: hidden;
    animation: hide-scroll 240ms backwards;
  }

  #open:checked ~ .dropdown-item-holder > .down-arrow {
    transform: rotate(180deg) translate3d(0, 0, 0);
  }

  #open-drp:checked ~ .dropdown-menu {
    max-height: 54px;
    overflow-y: auto;
    overflow-x: hidden;
    animation: hide-scroll 240ms backwards;
  }

  #open-drp:checked ~ .dropdown-item-holder > .down-arrow {
    transform: rotate(180deg) translate3d(0, 0, 0);
  }


  #open-mobile:checked ~ .dropdown-menu {
    max-height: 54px;
    overflow-y: auto;
    overflow-x: hidden;
    animation: hide-scroll 240ms backwards;
  }

  #open-mobile:checked ~ .dropdown-item-holder > .down-arrow {
    transform: rotate(180deg) translate3d(0, 0, 0);
  }

  #open-drp-mobile:checked ~ .dropdown-menu {
    max-height: 54px;
    overflow-y: auto;
    overflow-x: hidden;
    animation: hide-scroll 240ms backwards;
  }

  #open-drp-mobile:checked ~ .dropdown-item-holder > .down-arrow {
    transform: rotate(180deg) translate3d(0, 0, 0);
  }


  /* width */
  ::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(var(--main-color-17), 0.3);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(var(--main-color-6), 0.7);
    border-radius: 10px;
  }

  > ul li {
    list-style: none;

    &:hover {
      background-color: rgba(var(--main-color), 0.7);
    }

    &:active {
      background-color: rgba(var(--main-color), 0.7);
    }

    &.active {
      background-color: rgba(var(--main-color), 0.7);
    }
  }

  .select {
    height: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    column-gap: 5px;

    > .dropdown-item {
      padding: 0 5px;
    }
  }

  .flag-icon {
    width: 16px;
    height: 9px;
    background-image: url(./assets/images/flags.png);
    display: inline-block;
    margin-right: 5px;
    box-shadow: 1px 1px 3px 1px rgba(var(--main-color-16), 0.5);

    &.flag-icon-us {
      background-position: -112px -45px;
    }

    &.flag-icon-fr {
      background-position: -160px -45px;
    }

    &.flag-icon-sp {
      background-position: -224px -34px;
    }
  }

  .lang {
    //padding-left: 7px;

    &:only-child {
      //padding: 0 10px;
    }
  }

  .dropdown-item {
    text-decoration: none;
    //color: #ffffff;
    color: rgba(var(--text-color), 1);
    font-size: var(--font-size);
    line-height: 14px;
    display: inline-block;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &.selected {
      font-weight: 700;
    }
  }


}

.dropdown-item-holder {
  //background-color: rgba(var(--main-color-4), 0.7);
  padding: 0 5px;
  align-items: center;
  display: flex;
  height: 100%;
  cursor: pointer;
}

.dropdown-menu {
  width: 100%;
  background-color: rgba(var(--main-color-4), 1);
  overflow: hidden;
  position: absolute;
  top: 32px;
  z-index: 999;
  left: 0;
  max-height: 0;
  transition: max-height 240ms ease-in-out;
}

.down-arrow {
  //color: #ebbb23;
  color: rgba(var(--brand-color-8), 1);
  font-size: var(--font-size-6);
  line-height: 12px;
  font-weight: 700;
  margin-left: 9px;
}

.info-links {
  padding: 0 6px 0 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  line-height: 32px;
  text-align: center;
  line-height: 32px;
  background-color: rgba(var(--main-color-4), 1);
  transition: background-color 240ms linear;

  &:first-child {
    border-radius: 0 0 0 5px;
  }

  &:last-child {
    border-radius: 0 0 5px 0;
  }

  &:hover {
    background-color: rgba(var(--main-color-4), 0.7);
  }

  &:not(:last-child):after {
    content: "";
    position: absolute;
    right: 1px;
    top: 11%;
    width: 1px;
    height: 78%;
    z-index: 99;
    box-shadow: 1px 0 0 0 rgba(var(--main-color-5), 1);
  }

}

.mobile, .betshop, .live-support {
  padding: 0 10px;
  font-size: var(--font-size);
  line-height: 32px;
}

.navbar {
  max-width: 668px;
  width: 100%;
  min-width: 0;
  height: 32px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  //display: inline-grid;
  //grid-template-columns: repeat(6,auto);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .live-support {
    padding: 0 12px;
    text-align: left;
  }
}

.time-and-location, .language-block, .odds-in {
  flex-shrink: 0;
  overflow: unset;
}

.support {
  color: rgba(var(--text-color), 1);
  font-size: var(--font-size);
  cursor: pointer;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.comment {
  font-size: var(--font-size-5);
  line-height: 17px;
  color: rgba(var(--text-color), 1);
  margin-right: 5px;
}


.odds {
  z-index: 9999;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: unset;
  color: rgba(var(--text-color), 1);
  font-size: var(--font-size);
  line-height: 32px;
  padding: 0 5px;
}

//.dropdown {
//  display: inline-flex;
//  height: 25px;
//  align-items: center;
//  column-gap: 5px;
//}
//
//.dropdown-options {
//  z-index: 9999;
//  position: relative;
//  background-color: transparent;
//  border: none;
//  cursor: pointer;
//  border-radius: unset;
//  //color: #ffffff;
//  color: rgba(var(--text-color), 1);
//  font-size: var(--font-size);
//  font-weight: 700;
//
//  > option {
//    background-color: rgba(var(--main-color-4), 1);
//    border: none;
//    //color: #ffffff;
//    color: rgba(var(--text-color), 1);
//    font-size: var(--font-size);
//    line-height: 13px;
//    text-overflow: ellipsis;
//    white-space: nowrap;
//    overflow: hidden;
//  }
//
//  &:focus {
//    border: none;
//    outline: none;
//  }
//}


.mobile {
  text-decoration: none;
  //color: #ffffff;
  color: rgba(var(--text-color), 1);
  font-size: var(--font-size);
  line-height: 32px;
  cursor: pointer;
}

.betshop {
  //color: #ffffff;
  color: rgba(var(--text-color), 1);
  font-size: var(--font-size);
  line-height: 32px;
  cursor: pointer;
}

.login-and-joinUs {
  max-width: 270px;
}

.login-btn {
  min-width: 60px;
  padding: 0 10px;
  height: 20px;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(var(--main-color-6), 1);
  background-image: linear-gradient(rgba(var(--main-color-7)), rgba(var(--main-color-8), 1), rgba(var(--main-color-9), 1));
  //color: #ffffff;
  color: rgba(var(--text-color), 1);
  font-size: var(--font-size);
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:active {
    transform: scale(0.9);
  }
}

.username-and-pass {
  display: flex;
  column-gap: 10px;
  margin-bottom: 6px;
}


.username {
  width: 100%;
  padding: 0 10px;
  background-color: rgba(var(--main-color-4), 1);
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(var(--main-color-6), 1);
  font-size: var(--font-size);
  line-height: 13px;
  //color: #ffffff;
  color: rgba(var(--text-color), 1);

  &::placeholder {
    font-size: var(--font-size);
    line-height: 13px;
    //color: #bc7d7d;
    color: rgba(var(--main-color-19), 1);
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.password {
  width: 100%;
  padding: 0 10px;
  background-color: rgba(var(--main-color-4), 1);
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(var(--main-color-6));
  font-size: var(--font-size);
  line-height: 13px;
  //color: #ffffff;
  color: rgba(var(--text-color), 1);

  &::placeholder {
    font-size: var(--font-size);
    line-height: 13px;
    //color: #bc7d7d;
    color: rgba(var(--main-color-19), 1);
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.joinUs-and-lostPass {
  width: 100%;
  display: flex;
  column-gap: 1px;
  height: 24px;
  box-shadow: 0 0 0 1px rgba(var(--main-color-6));
  border-radius: 4px;
}

.join-us-holder {
  background-color: rgba(var(--main-color-4));
  box-shadow: 1px 0 0 0 rgba(var(--main-color-5));
  width: 142px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px 0 0 4px;
  min-width: fit-content;
  padding: 0 10px;

  &:only-child {
    border-radius: 4px;
  }

  .btn {
    min-width: 114px;
    height: 17px;
    position: relative;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(var(--brand-color-2), 1), rgba(var(--brand-color), 1), rgba(var(--brand-color-3), 1));
    border: none;
    border-radius: 4px;
    cursor: pointer;
    column-gap: 12px;

    &:active {
      transform: scale(0.9);
    }

    //
    //&:before {
    //  content: "\e900";
    //  font-family: icomoon;
    //  flex: 1;
    //  max-width: 30px;
    //  font-size: var(--font-size-6);
    //  line-height: 13px;
    //  //color: #650000;
    //  color: rgba(var(--brand-text-color-3), 1);
    //  transform: rotate(-90deg);
    //}
    .join-us-icon {
      font-size: var(--font-size-6);
      line-height: 13px;
      color: rgba(var(--brand-text-color-3), 1);
      font-weight: 700;
    }

    //&:after {
    //  content: "";
    //  flex: 1;
    //
    //}

    .join-us {
      max-width: 80px;
      flex: auto;
      font-size: var(--font-size);
      line-height: 13px;
      font-weight: 700;
      //color: #650000;
      color: rgba(var(--brand-text-color-3), 1);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
    }
  }
}

.lost-password-holder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--main-color-4), 1);
  border-radius: 0 4px 4px 0;
  min-width: 0;
  padding: 0 10px;

  &:only-child {
    border-radius: 4px;
  }
}

.lost-password {
  font-size: var(--font-size-2);
  line-height: 13px;
  //color: #f0e7ca;
  color: rgba(var(--brand-color-3), 0.8);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  text-decoration: underline;
  transition: color 240ms;

  &:hover {
    color: rgba(var(--brand-color-3), 1);
  }
}

.icon-holder {
  padding: 5px 7px;
  background-color: rgba(var(--main-color-4), 1);
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(var(--main-color-6), 1);
  transition: background-color 240ms linear;

  &:hover {
    background-color: rgba(var(--main-color-4), 0.7);
  }
}

.info-and-login {
  display: none;
  column-gap: 15px;
}

.ui-icons {
  color: rgba(var(--text-color), 1);
}

.menu-nav {
  width: 100%;
  min-height: 30px;
  background-color: rgba(var(--main-color-10), 1);

  .wrapper {
    max-width: 1021px;
    width: 100%;
    min-height: 30px;
  }
}


.menu-nav-inner {
  padding: 0 20px;
  display: flex;
  width: 100%;
  min-height: 30px;
  justify-content: flex-start;
  align-items: flex-end;

  > input[type="radio"] {
    display: none;
  }

  .nav-menu-mobile {
    display: none;
  }

  //> .nam-menu-web li {
  //  list-style: none;
  //}

  //> .nam-menu-web {
  //  display: flex;
  //  align-items: flex-end;
  //  width: 100%;
  //  position: relative;
  //
  //  .f {
  //    z-index: 4;
  //  }
  //
  //  .s {
  //    transform: translateX(90%);
  //    z-index: 3;
  //  }
  //
  //  .th {
  //    transform: translateX(180%);
  //    z-index: 2;
  //  }
  //
  //  .fo {
  //    transform: translateX(270%);
  //    z-index: 1;
  //  }
  //
  //  > li {
  //    flex: 1;
  //    height: 27px;
  //    position: absolute;
  //    background-image: url("./assets/images/normal.png");
  //    background-repeat: no-repeat;
  //    min-width: 0;
  //    display: flex;
  //    border-radius: 5px 5px 0 0;
  //
  //    > a {
  //      min-width: 144px;
  //      height: 27px;
  //      text-decoration: none;
  //      font-size: var(--font-size-3);
  //      line-height: 27px;
  //      color: #4c0000;
  //      //color: rgba(var(--hero-text-color),1);
  //      font-weight: 700;
  //      white-space: nowrap;
  //      text-overflow: ellipsis;
  //      overflow: hidden;
  //      max-width: 122px;
  //      padding: 0 30px 0 37px;
  //      text-align: center;
  //    }
  //
  //    &:active {
  //      background-image: url("./assets/images/pushed.png");
  //
  //      > a {
  //        color: #ffffff;
  //        //color: rgba(var(--text-color),1);
  //      }
  //    }
  //
  //    &.active {
  //      background-image: url("./assets/images/pushed.png");
  //
  //      > a {
  //        color: #ffffff;
  //        //color: rgba(var(--text-color),1);
  //      }
  //    }
  //  }
  //}
}


.nav-menu-web {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-direction: row-reverse;

  .btn-content {
    cursor: pointer;
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(90deg, #908f8f, #d4d4d4, #b5b4b4);
      transform: skew(40deg, 0) translateX(-12px);
      border-radius: 0 5px 0 0;
      z-index: -1;
    }

    .nav-btn-icon {
      font-size: var(--font-size-6);
      line-height: 28px;
      color: rgba(var(--hero-text-color), 1);
      font-weight: 700;
      display: inline-block;
    }

    .btn-text {
      font-size: var(--font-size-3);
      line-height: 28px;
      z-index: 10;
      color: rgba(var(--hero-text-color), 1);
      font-weight: 700;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-inline-start: 23px;
    }
  }

  .nav-menu-btn {
    min-width: 143px;
    height: 28px;
    padding: 0 30px 0 21px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    text-align: left;
    border-radius: 5px 0 0 0;
    display: inline-flex;
    align-items: center;
    cursor: default;

    &:not(:last-child) {
      margin-left: -13px;
    }

    //&.active{
    //  .btn-text,.nav-btn-icon{
    //    color: rgba(var(--hero-text-color),1);
    //  }
    //  .nav-btn-icon{
    //    transform: translateX(20px) rotate(-90deg);
    //  }
    //}

    //&:hover {
    //  z-index: 12;
    //  .nav-btn-icon {
    //  transform: translateX(20px) rotate(-90deg);
    //  }
    //  &:after {
    //    background-image: linear-gradient(90deg, #8b0200, #8c0200);
    //  }
    //}


  }
}

.nav-menu-btn {
  input[type="radio"] {
    display: none;
  }
}

.nav-menu-web input[type="radio"]:checked ~ label:after {
  background-image: linear-gradient(90deg, #8b0200, #8c0200);
}

.nav-menu-web .nav-menu-btn:has(input[type="radio"]:checked) {
  z-index: 10;
}

.nav-menu-web input[type="radio"]:checked ~ label {
  .btn-text {
    color: #ffffff;
  }

  .nav-btn-icon {
    color: #ffffff;
    transform: rotate(90deg);
  }
}


.banner {
  .wrapper {
    max-width: 1024px;
    background-color: rgba(var(--main-color-11), 1);
    padding: 16px 10px 17px 10px;
  }
}

.banner-inner {
  text-align: center;
}

.main-banner {
  max-width: 100%;
  vertical-align: bottom;
  box-shadow: 0 0 0 1px rgba(var(--brand-color-4), 1);
}

.games-holder {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 23px;
  row-gap: 20px;
}

.game {
  flex: 1;
  border: 1px solid rgba(var(--brand-color-4), 1);
  border-top: none;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--main-color-12), 1);
  min-width: 250px;
  overflow: hidden;
  padding: 32px 3px 5px 3px;
  position: relative;
  transition: box-shadow 240ms;

  &:hover {
    box-shadow: 0 0 7px 1px rgba(var(--brand-color-4), 1);

    .image-holder {
      background-size: contain;
    }
  }
}

.game-poster {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5px;
  background-color: rgba(var(--main-color-16), 0.5);
  padding: 5px;
}

.chemp-ligue {
  text-align: center;
  font-size: var(--font-size-4);
  color: rgba(var(--text-color), 1);
  margin-bottom: 7px;
}

.play-teams {
  text-align: center;
  font-size: var(--font-size-4);
  font-weight: 700;
  color: rgba(var(--text-color), 1);
}

.game-title {
  width: 100%;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 0 10px;
  background-image: linear-gradient(rgba(var(--brand-color-5), 1), rgba(var(--brand-color-6), 1));
  //color: #311f07;
  color: rgba(var(--brand-text-color-2));
  text-align: center;
  font-size: var(--font-size-5);
  line-height: 35px;
  font-weight: 700;
  border-radius: 3px 3px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.game-image {
  display: block;
  width: 100%;
  object-fit: contain;
}

.footer {
  background-color: rgba(var(--main-color-12), 1);
}

.about-and-rules {
  width: 100%;
  padding: 12px 0 18px 0;

  .wrapper {
    max-width: 1024px;
  }
}

.rules-inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
  row-gap: 20px;
}

.section {
  display: inline-flex;
  flex-direction: column;
  //max-width: 250px;
  padding: 0 10px;
}

.section-title {
  font-size: var(--font-size-4);
  line-height: 16px;
  font-weight: 400;
  //color: #eac677;
  color: rgba(var(--brand-color-7), 1);
  margin-bottom: 18px;
}

.info {
  font-size: var(--font-size);
  line-height: 16px;
  //color: #999999;
  color: rgba(var(--text-color), 0.6);
  cursor: pointer;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 240ms;

  &.faq {
    font-weight: bold;
  }

  &:not(:last-child) {
    margin-bottom: 7px;
  }

  &:focus {
    //color: #990002;
    color: rgba(var(--main-color-18), 1);
  }

  &:hover {
    color: rgba(var(--main-color-18), 1);
  }

  &:active {
    //color: #990002;
    color: rgba(var(--main-color-18), 1);
  }
}

.payment-methods {
  width: 100%;
  background-color: rgba(var(--main-color-13), 1);
  /*min-height: 55px;*/
  box-shadow: 0 -2px 0 0 rgba(var(--main-color-14), 1), 0 2px 0 0 rgba(var(--main-color-14), 1);

  .wrapper {
    max-width: 1024px;
    height: 100%;
  }
}

.payment-methods-inner {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
  column-gap: 35px;
  row-gap: 15px;
  padding: 10px;
}

.img-holder {
  height: 40px;
  display: flex;
  align-items: center;

  > img {
    width: 100%;
    display: block;
    object-fit: contain;
    cursor: pointer;
  }
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.copyright {
  font-size: var(--font-size);
  line-height: 13px;
  //color: #ffffff;
  color: rgba(var(--text-color), 0.6);
  text-align: center;
}

.popup-close-icon {
  display: none;
}

.side-text {
  font-size: 0;
  position: absolute;
}

.login-btn-open-holder, .info-btn-open-holder, .nav-btn-open-holder {
  border: none;
}

.login-btn-close-holder, .info-btn-close-holder, .nav-btn-close-holder {
  border: none;
  position: absolute;
  top: 12px;
  right: 16px;
}

.nav-menu-mobile-holder {
  transform: translateX(106%);
}

@media screen and (max-width: 1280px) {
  .navbar {
    justify-content: center;
  }
  .language-block {
    width: unset;

    .dropdown {
      min-width: 52px;
    }

    label.dropdown-item-holder {
      .dropdown-item {
        .lang {
          display: none;
        }

        .flag-icon {
          margin-right: 3px;
        }
      }
    }
  }
  .live-support {
    //width: auto;
  }
  .odds-in {
    width: auto;
  }
  .odds {
    display: none;
  }
  .mobile, .betshop {
    //width: auto;
  }
}

@media screen and (max-width: 1024px) {
  .info-and-login {
    display: flex;
    position: relative;

    > input[type="radio"] {
      display: none;
    }
  }
  #info-btn-open:checked ~ .navbar-mobile-holder {
    transform: translateX(-4px);
  }
  #login-btn-open:checked ~ .login-and-joinUs-mobile-holder {
    transform: translateX(-4px);
  }
  .navbar {
    //display: none;
    justify-content: flex-end;
  }
  .login-and-joinUs {
    //display: none;
    margin-left: auto;
  }
  .popup-close-icon {
    //display: block;
    text-align: right;
    font-size: var(--font-size-3);
    line-height: 14px;
    cursor: pointer;
    color: rgba(var(--brand-color-8), 1);
    transition: color 240ms;

    &:hover {
      color: rgba(var(--brand-color-8), 0.7);
    }
  }
  .navbar-mobile-holder {
    position: absolute;
    background-color: rgba(var(--main-color-3), 1);
    padding: 40px 15px 15px 15px;
    height: auto;
    top: 38px;
    right: -5px;
    width: 230px;
    z-index: 999999;
    border-radius: 10px;
    overflow: hidden;
    transform: translateX(105%);
    transition: transform 240ms linear;


    .navbar-mobile {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      max-height: 195px;

      > .info-links {
        width: 100%;
        overflow: unset;

        &:after {
          top: unset;
          bottom: 1px;
          left: 0;
          width: 100%;
          height: 1px;
          box-shadow: 0 1px 0 0 rgba(var(--main-color-5), 1);
        }
      }

      > a.info-links {
        overflow: hidden;
        min-height: 32px;
      }

      > div.info-links:first-of-type {
        border-radius: 5px 5px 0 0;
      }

      > .info-links:last-child {
        border-radius: 0 0 5px 5px;
      }

      .live-support {
        display: flex;
        align-items: center;
        justify-content: center;

        .support {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
        }
      }
    }

  }
  .odds {
    display: block;
  }
  .language-block label.dropdown-item-holder .dropdown-item .lang {
    display: inline-flex;
  }
  .language-block {
    .dropdown {
      z-index: 9999999;

      .dropdown-menu {
        background-color: rgba(var(--main-color-3), 1);
      }
    }
  }
  .odds-in {
    .dropdown-menu {
      background-color: rgba(var(--main-color-3), 1);
    }
  }
  .login-and-joinUs-mobile-holder {
    width: 230px;
    padding: 40px 15px 15px 15px;
    position: absolute;
    background-color: rgba(var(--main-color-4), 1);
    top: 38px;
    right: -5px;
    z-index: 999999;
    border-radius: 5px;
    transform: translateX(105%);
    transition: transform 240ms linear;

    .login-and-joinUs-mobile {
      display: flex;
      //flex-direction: column;
      row-gap: 10px;
      max-height: 201px;
      overflow-y: auto;
    }
  }
  .username-and-pass {
    //flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;

    > input {
      max-width: unset;
      height: 20px;
      line-height: 20px;
    }
  }
  .joinUs-and-lostPass {
    //flex-direction: column;
    row-gap: 10px;
    box-shadow: none;
    align-items: center;
  }
  .lost-password-holder {
    height: 100%;
  }
  .join-us-holder {
    box-shadow: none;
    height: 100%;
  }
  .login-btn {
    max-width: 100%;
  }
  .join-us-holder .btn .join-us {
    max-width: 148px;
  }

  .login-and-joinUs-mobile-holder {
    .popup-close-icon {
      display: block;
    }
  }
  .navbar-mobile-holder {
    .popup-close-icon {
      display: block;
    }
  }
  .navbar-mobile {
    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgba(var(--main-color-17), 0.3);
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(var(--main-color-6), 0.7);
      border-radius: 10px;
    }
  }
  .header-inner {
    flex-wrap: wrap;
    padding: 0 0 20px 0;
  }
}

@media screen and (max-width: 980px) {
  .navbar {
    max-width: 100%;
    justify-content: flex-start;
    order: 1;

    .info-links:first-child {
      border-radius: 5px 0 0 5px;
    }

    .info-links:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
  .login-and-joinUs {
    margin-left: 0;
  }
  .header-inner {
    row-gap: 20px;
  }
  .language-block label.dropdown-item-holder .dropdown-item .lang {
    display: none;
  }
  .odds {
    display: none;
  }
  .live-support .live-support-content {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .navbar .info-links:first-child {
    border-radius: 5px 5px 0 0;
  }
  .navbar .info-links:last-child {
    border-radius: 0 0 5px 5px;
  }
  .info-and-login {
    position: relative;
  }

  .navbar {
    max-width: 270px;
    width: 100%;
    flex-direction: column;
    height: auto;
    min-height: 32px;
    border-radius: 5px;

    .time-and-location, .language-block, .odds-in {
      flex-shrink: unset;
    }

    .info-links {
      width: 100%;
      max-width: 100%;
      min-height: 32px;
      justify-content: center;

      &:not(:last-child):after {
        width: 100%;
        bottom: 1px;
        top: unset;
        box-shadow: 0 1px 0 0 rgba(var(--main-color-5), 1);
      }
    }
  }
  .menu-nav-inner {
    min-height: 42px;
    overflow-x: auto;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;

    > input[type="radio"] {
      display: none;
    }

    //& > .nam-menu-web {
    //  width: 100%;
    //  column-gap: 2px;
    //  display: none;
    //
    //
    //  > li {
    //    background-image: linear-gradient(90deg, rgba(var(--hero-color), 1), rgba(var(--hero-color-2), 1), rgba(var(--hero-color), 1));
    //    z-index: unset;
    //    flex: 1;
    //    position: unset;
    //    justify-content: center;
    //    padding: 0 5px;
    //    min-width: 29.3%;
    //    border-radius: 0;
    //
    //    > a {
    //      min-width: unset;
    //      padding: 0 10px;
    //      color: rgba(var(--hero-text-color), 1);
    //    }
    //
    //    &.f {
    //      transform: unset;
    //    }
    //
    //    &.s {
    //      transform: unset;
    //    }
    //
    //    &.th {
    //      transform: unset;
    //    }
    //
    //    &.fo {
    //      transform: unset;
    //    }
    //
    //    &:active {
    //      background-image: none;
    //      background-color: rgba(var(--main-color-15), 1);
    //      color: rgba(var(--hero-text-color), 1);
    //    }
    //
    //    &.active {
    //      background-image: none;
    //      background-color: rgba(var(--main-color-15), 1);
    //      color: rgba(var(--hero-text-color), 1);
    //    }
    //  }
    //}
  }


  .nav-menu-web {
    display: none;

    .nav-menu-btn {
      border: none;
    }
  }
  .nav-menu-mobile-holder {
    width: 100%;
    max-width: 230px;
    position: absolute;
    top: 405px;
    right: 13px;
    background-color: rgba(var(--main-color-3), 1);
    padding: 40px 15px 15px 15px;
    z-index: 9999999;
    border-radius: 5px;
    transform: translateX(106%);
    transition: transform 240ms linear;

    .nav-menu-mobile {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      max-height: 135px;


      > li {
        width: 100%;
        height: 32px;
        text-align: center;
        background-color: rgba(var(--main-color-4), 1);
        cursor: pointer;

        &:active, &.active {
          background-color: rgba(var(--main-color-4), 0.7);
        }

        &:hover {
          background-color: rgba(var(--main-color-4), 0.7);
        }

        &:not(:last-child) {
          margin-bottom: 1px;
        }

        &:first-of-type {
          border-radius: 5px 5px 0 0;
        }

        &:last-of-type {
          border-radius: 0 0 5px 5px;
        }

        > a {
          text-decoration: none;
          color: rgba(var(--text-color), 1);
          font-size: var(--font-size);
          line-height: 32px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          padding: 0 10px;
        }
      }
    }
  }

  .navbar-mobile {
    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgba(var(--main-color-17), 0.3);
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(var(--main-color-6), 0.7);
      border-radius: 10px;
    }
  }
  .nav-menu-mobile {
    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgba(var(--main-color-17), 0.3);
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(var(--main-color-6), 0.7);
      border-radius: 10px;
    }
  }

  .game {
    min-width: 230px;
  }

  .info-links {
    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }
  .logo {
    width: 190px;
    position: relative;
    margin-right: 0;
  }
  .nav-btn-open-holder-inner {
    display: block;
  }
  .nav-menu-icon {
    font-size: 20px;
    line-height: 20px;
    color: rgba(var(--text-color), 1);
    cursor: pointer;
    transition: color 240ms;

    &:hover {
      color: rgba(var(--text-color), 0.8);
    }
  }

  #nav-btn-open:checked ~ .nav-menu-mobile-holder {
    transform: translateX(4px);
  }
  .lost-password-holder {
    padding: 0;
  }
  .lost-password-holder {
    display: inline-grid;
  }
  .popup-close-icon {
    display: block;
  }
  .login-and-joinUs{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .username-and-pass{
    max-width: 270px;
  }
  .joinUs-and-lostPass{
    max-width: 270px;
  }
  .header-inner{
    justify-content: center;
  }
}

